{% extends "layout/base.twig" %}

{% set pageTitle = 'Login' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">

        {% if error|length > 0 %}
        <div class="alert alert-danger">{{  error }}</div>
        {% endif %}

        <form class="form-signin" action="/general/login.php" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">

            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Language</label>
                <select class="form-control" name="languageForm">
                    <option value='ar'>Arabic</option>
                    <option value='az'>Azerbaijani</option>
                    <option value='pt-br'>Brazilian Portuguese</option>
                    <option value='bg'>Bulgarian</option>
                    <option value='ca'>Catalan</option>
                    <option value='zh'>Chinese simplified</option>
                    <option value='zh-tw'>Chinese traditional</option>
                    <option value='cs-iso'>Czech (iso)</option>
                    <option value='cs-win1250'>Czech (win1250)</option>
                    <option value='da'>Danish</option>
                    <option value='nl'>Dutch</option>
                    <option value='en'>English</option>
                    <option value='et'>Estonian</option>
                    <option value='fr'>French</option>
                    <option value='de'>German</option>
                    <option value='hu'>Hungarian</option>
                    <option value='is'>Icelandic</option>
                    <option value='in'>Indonesian</option>
                    <option value='it'>Italian</option>
                    <option value='ko'>Korean</option>
                    <option value='lv'>Latvian</option>
                    <option value='ja'>Japanese</option>
                    <option value='no'>Norwegian</option>
                    <option value='pl'>Polish</option>
                    <option value='pt'>Portuguese</option>
                    <option value='ro'>Romanian</option>
                    <option value='ru'>Russian</option>
                    <option value='sk-win1250'>Slovak (win1250)</option>
                    <option value='es'>Spanish</option>
                    <option value='tr'>Turkish</option>
                    <option value='uk'>Ukrainian</option>
                </select>
            </div>
{#
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
#}
            <input type="hidden" name="auth" value="test" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
{% endblock %}
