{% extends "layout/base.twig" %}

{% set pageTitle = 'Login' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">

        <form class="form-signin" action="/general/login.php?auth=test" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input name="usernameForm" type="text" id="usernameForm" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="passwordForm" name="passwordForm" class="form-control" placeholder="Password" required="" autocomplete="off">
{#
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
#}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
{% endblock %}
